:root {
    --login-height: 340px;
    --login-width: 320px;
    --page-heigth: 100vh;
    --color: black;
}

.page {
    width: 100vw;
    height: 100vh;



    display: flex;
    justify-content: center;
    align-items: center;
}




.containerbox {
    width: var(--login-width);
    height: var(--login-height);
    border: solid grey 1px;
    box-shadow: 0px 0px 10px 5px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation-name: backgroundGlow;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    border-radius: 5px ;




}

.labelArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
   
    width: calc(var(--login-width)/2);
    height: 50px;
}

.inputArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: calc(60px + var(--login-width)/2);
  
    margin-bottom: 20px;
}


.inputLabel {
    color: var(--color);


}


.inputSpace {
    width: calc(var(--login-width)/2);
    height: 25px;
    transition: all;
    transition-duration: 400ms;
    box-shadow: 0px 0px 4px 2px lightgray inset;
    border: 0px;
    font-size: 14px;
}

.inputSpace:hover {
    width: calc(20px + var(--login-width)/2);
    height: 30px;
    box-shadow: 0px 0px 4px 2px aquamarine;
    font-size: 16px;
    

}

.inputSpace:focus {
    outline: none;
    width: calc(20px + var(--login-width)/2);
    height: 30px;
    box-shadow: 0px 0px 4px 2px aquamarine;
    font-size: 16px;
}



.logButton {
    background-color: aquamarine;
    height: 40px;
    width: 100px;
    border: 0px;

    transition: all;
    transition-duration: 170ms;
    transition-timing-function: ease-in-out;
    font-weight: 600;
    color: var(--color);


}

.logButton:hover {
    height: 45px;
    width: 110px;
    box-shadow: 0px 0px 10px 5px rgb(136, 249, 211);
    box-shadow: 0px 0px 20px 10px rgb(176, 243, 221);
    border-radius: 10px;
    font-weight: 800;


}

.buttonArea {
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-bottom: 10px;

}
.buttonArea:hover{
    --color : rgb(0, 128, 0);
}

.banner {
    border-bottom: solid lightgrey 2px;
}


@keyframes backgroundGlow{
    0% {box-shadow: 0px 2px 6px 2px aqua, 2px 0px 6px 2px  lightgreen;}
    25% {box-shadow: 2px 2px 6px 2px aqua, 0px 2px 6px 2px   lightgreen ;}
    50% {box-shadow: 2px 0px 6px 2px aqua, 2px 2px 6px 2px   lightgreen ;}
    75% {box-shadow: 0px 2px 6px 2px aqua, 0px 0px 6px 2px   lightgreen ;}
    100% {box-shadow: 0px 2px 6px 2px aqua, 2px 0px 6px 2px  lightgreen ;}
}