:root{ 
    --login-height: 300px;
    --login-width: 320px;
    --page-heigth: 100vh;
}

.page{
    width: 100vw;
    height: 100vh;
    
    

    display: flex;
    justify-content: center;
    align-items: center;
}




.containerbox{
    width: var(--login-width);
    height: var(--login-height);
    border: solid grey 1px;
    box-shadow: 0px 0px 10px 5px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    

}

.labelArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border: solid red 2px;
    width: calc(var(--login-width)/2);
}

.inputArea {display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 30px;
    width:  calc(var(--login-width)/2);
    border: solid green 2px;}

.inputLabel{
    color: black;
    
}
 .inputSpace{
    width: 120px;
 }
.inputSpace:focus{
 width: 140px;
}

.logButton{
    background-color: aquamarine;
    height: 40px;
    width: 100px;
    border: 0px 0px 0px 0px ;
    border :2px;
}

.buttonArea{
    height: 70px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;

}

.logButton:hover{
    height: 45px;
    width: 110px;

}