.container {
    /*border: solid red 2px;*/
    width: 60%;
    margin: auto;
}

table {
   /* border: solid green 2px; */
    width: 80%;
    border-radius: 20px;
}

tr {
    /*box-shadow: 0px 0px 2px 1px red inset; */

    display: flex;
    align-items: flex-end;
    height: 40px;
    width: 80%;


}

td {
    /*box-shadow: 0px 0px 2px 1px blue inset;*/

    text-align: center;
    border-bottom: 1px gray solid;
    height: 18;
    padding: 0%;
    width: 50%;
}

.tableHeader{
   
    width: 100%;
    color: beige;
    background-color: indigo;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 40px;
    font-weight: 600;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 3px;

}

p{
    text-align: left;
    padding-left: 20px;
    color: rgba(255,255,255,1);
}


.partialcontainer{
    width: 70%;
    display: inline-block;
    flex-direction: column;
    
    margin-top: 5%;
    background-color:rgba(56, 62, 66, 0.7);
    
    margin-bottom: 10%;
}
.containerinside{
    width: 100%;
    margin: auto;
}

.line-1 {
    height: 1px;
    background-color:silver;
  }

h2{
    text-align: center;
}

.leftbannerimage{
    margin-left: 20%;
    width: 70%;
  }

.imagediv{
    width: 30%;
    display: inline-block;
}