:root {
    --liquid: 120px;
    --body-height : 300px;
    --neck-height : 7px;
    --total-width : 150px;
    --handle-width : 50px;

}

.name{
    margin-top: 0;
    margin-bottom: 5px;
    overflow-wrap: break-word;
}


.container {
    width: var(--total-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
   


}

.handle {
    width: var(--handle-width);
    height: calc(var(--body-height)/15);
    border-radius: 2px 2px 2px 2px;
    border-color: darkgrey;
    border-style: solid;
    border-width: 5px 7px 1px 7px;
    border-radius: 5px 5px 0px 0px;
    position: relative;


}

.body {
    width: 80px;
    height: var(--body-height);
    border-radius: 10px 10px 5px 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: darkgrey;
    position: relative;
    box-shadow: -5px -5px 10px 5px inset lightslategrey;


}

.bottom {
    width: 70px;
    height: calc(var(--body-height)/30);
    border-width: 1px;
    background-color: darkgray;
    border-style: solid;
    border-radius: 0px 0px 5px 5px;
    box-shadow: -5px -5px 10px 5px inset lightslategray;
}

.valve {
    width: 20px;
    height: 5px;
    position: absolute;
    bottom: var(--neck-height);
    left: 15px;
    background-image: radial-gradient(brown, red);

}

.neck {
    width: 5px;
    height: var(--neck-height);
    position: absolute;
    bottom: 0px;
    left: 22px;
    background-color: #E1C16E;
}

.window {
    width: 50px;
    height: calc(var(--body-height)*(0.9));
    background-color: silver;
    position: absolute;
    bottom: 10px;
    left: 15px;
    border-radius: 25px;
    box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.507);
}

.bolt {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left: 2px;
    top: 30px;
    box-shadow: 41px 0px 0px 0px black,
        /* sağ gölge */
        0px 70px 0px 0px black,
        /* alt gölge */
        41px 70px 0px 0px black,
        /*  sağ alt köşe*/
        0px 140px 0px 0px black,
        /* sol üç */
        41px 140px 0px 0px black,
        0px 210px 0px 0px black,
        41px 210px 0px 0px black;

}

.liquid {
    background-image: linear-gradient(to bottom left, aqua, #194e78);
    width: 33px;
    height: var(--liquid);

    position: absolute;
    left: 8px;
    bottom: 10px ;
    border-radius: 1px 1px 16px 16px;
    box-shadow: 1px -2px 2px 2px inset #19476da7;
}

.emptyliquid {
    border-radius: 16px 16px 0px 0px;
    background-image: linear-gradient(to bottom, #222529, #556580);
    position: absolute;
    left: 8px;
    top: 10px;
    width: 33px;
    height: calc(250px - var(--liquid));
}


.outline{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}