.container{
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    gap:10px;
    width: 90%;
    height : auto;

    
    justify-content: left;
    background-color: bisque;
    margin: 10px;  

}

.name{
   
   border: solid grey 1px;
   border-width: 0px 0px 2px 0px;
   height: 25px;
   margin-top: 5px ;
   width: 400px;
   background-color: rgba(240, 248, 255, 0);
   font-size: 16px;
 
  
   
}



.tankContainer{
    margin-left: 50px;
   
    
    
}


.buttonAndArrow{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.arrow{
    margin-left: 30px;
    margin-top: 10px;
    width: 10px;
    height: 10px;
    border: solid gray;
    border-width:  0px 2px 2px 0px;
   

}

