.containerBody{
    
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    white-space: nowrap;
    
    gap: 10px;
    align-items: end;
    
    
}

.scroll{
    display: inline-block;
}

.touch{
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
    color: grey;
    height: 18x;
}