.container {
    /*border: solid red 2px;*/
    width: 100%;
    margin: auto;
}

table {
   /* border: solid green 2px; */
    width: 80%;
    border-radius: 20px;
}

tr {
    /*box-shadow: 0px 0px 2px 1px red inset; */

    display: flex;
    align-items: flex-end;
    height: 40px;
    width: 80%;


}

td {
    /*box-shadow: 0px 0px 2px 1px blue inset;*/

    text-align: center;
    border-bottom: 1px gray solid;
    height: 18;
    padding: 0%;
    width: 50%;
}

.tableHeader{
   
    width: 100%;
    color: beige;
    background-color: indigo;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 40px;
    font-weight: 600;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 3px;

}


p{
    text-align: left;
    padding-left: 20px;
}
.newP{
    text-transform: uppercase;
    text-align: center;
    padding-left: 20px;
}


.partialcontainer{
    display: flex;
    flex-direction: column;
    
    background-color:rgba(56, 62, 66, 0.7);
    margin-top: 1%;
    margin-bottom: 5%;
}
.containerinside{
    width: 100%;
    margin: auto;
   
}


.line-1 {
    height: 1px;
    background-color:silver;
  }

.newCompany{
    background-color: whitesmoke;
    margin: auto;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 20%;
}
.grid {
    display: grid;
    grid-template-columns: 20% 40%;
    grid-gap: 10%;
  }
  @font-face {
    font-family: Gilroy; /*a name to be used later*/
    src: url('https://poemech.com.tr/fonts/Gilroy-Bold.ttf'); /*URL to font*/
}

* {
    font-family: Gilroy sans-serif;
    font-size: 18px;
  }
  .newButton{
    
    outline: 0;
    border: none;
    cursor: pointer;
    line-height: 1.2rem;
    font-weight: 500;
    background: #007a5a;
    padding: 8px 14px 9px;
    font-size: 15px;
    border-radius: 4px;
    color: #fff;
    height: 36px;
    transition: all 75ms ease-in-out;
    margin-left: 25%;
    
}

.newButton :hover{
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}


/*  maindiv */
.filter{
    position: relative;
    
    flex-direction: row;
    height: 60px;
    width: 100%;
    
    
}

/*  input area */
.pdiv{
    position: absolute;
    right: 10px;
    top: 23px;

    height: 32px;
	width: 200px;
	border-radius: 3px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #e5e5e5;
    
    font-weight: 500;
}

.combo{
    position: absolute;
    top : 0px;
    right: 250px;
    
    width: 200px;
}

.exportButton{

    
   position: absolute;
   top: 20px;
   left: 5px;
   

}